table{
    border: 3px solid red;      
    background-color: black; 
    border-spacing: 10px;
}
.td1{
    height: 90px;
    width: 120px;
    color: white;
    font-size: 25px;
    text-align: center;
}
.td{
    background-color: cadetblue;
    border: 2px solid blue;
    height: 90px;
    width: 120px;
    color: white;
    font-size: 25px;
    text-align: center;
}
img{
    height: 90px;
    width: 120px;
    box-shadow:0px 0px 50px rgb(189, 239, 8);
}
.left{
    border-left: 2px solid blue;
}
.top{
    border-top: 2px solid blue;
}
.right{
    border-right: 2px solid blue;
}
.bottom{
    border-bottom: 2px solid blue;
}