.td{
    height: 90px;
    width: 80px;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: inset 5px 5px 5px #b5b4b4ea;
    vertical-align: top; 
    text-align: center;  
    padding-top: 5px;
}
table{
    border-spacing: 5px;
    
}